.banner  {
    display: flex;
    flex-direction: row;
    width: 1170px;
    justify-content: center;
}

/* Left */
.banner-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 570px;
}
.link-banner {
    position: relative;
}
.link-banner::after {
    content: "";
    width: 100%;
    height: 98%;
    background-image: linear-gradient(180deg, rgba(243, 243, 243, 0) 0%, #1e1d1d 84%);
    position: absolute;
    bottom: 5px;
    left: 0;
    z-index: 1;
}
.link-banner:hover::after {
    background-image: linear-gradient(180deg, rgba(243, 243, 243, 0) 0%, rgba(0, 0, 0, 0.65) 84%);
}


.dicripsion {
    position: absolute;
    bottom: 18px;
    left: 0;
    z-index: 2;

    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 15px 15px 0 15px;
    width: 100%;
}
.dicripsion_ {
    font-size: 16px;
    width: 282px;
}

.imgBig {
    width: 570px;
    height: 432px;
}

.div-imgChild {
    display: flex;
    position: relative;
}

.fillter-after::after {
    content: "";
    width: 280px;
    height: 100%;
    background-image: linear-gradient(180deg, rgba(243, 243, 243, 0) 0%, #1e1d1d 84%);
    position: absolute;
    bottom: 5px;
    left: 0;
    z-index: 1;
}
.fillter-after:hover::after {
    background-image: linear-gradient(180deg, rgba(243, 243, 243, 0) 0%, rgba(0, 0, 0, 0.65) 84%);
}


.img-banner-left-1 {
    height: 430px;
    border-right: 4px solid #ffffff;
}



/* right */
.banner-right {
    /* margin-left: 4px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 50%;

}
.img-khac {
    width: 285px;
    height: 214px;
}